    #clock 
    {
        font-size: 3rem; /* 시계 폰트 크기 */
        font-weight: bold; /* 시계 폰트 두께 */
        text-align: center; /* 시계 정렬 */
        color: #ffffff; /* 시계 색상 */
        background-color: #000000; /* 시계 배경색 */
        padding: 1rem; /* 시계 패딩 */
        border-radius: 1rem; /* 시계 모서리 둥글기 */
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0); /* 시계 그림자 효과 */
    }

    #title_pont1
    {
        font-size: 3rem; /* 제목 폰트 크기 */
        text-align: center; /* 제목 가운데 정렬 */
        color: #000000; /* 제목 색상 */
        background-color: #ffffff; /* 제목 배경색 */
        margin-bottom: 0%;
    }
